

@media only screen and (max-width:991px) {

	.login-header-img{display: none;}
	.login-location{padding-bottom:30px;}

}


@media only screen and (max-width:959px) {
	.profile-part .resp-vtabs .resp-tabs-container{ width: 100%;}
	.profile-content .tab1 .mb-3{ padding: 10px 15px 0 15px;}
	
	h2.resp-accordion{padding: 14px 0px;}
	.srch_tab .slects_box{ width: 100%;}
	.srch_tab .slects_box{ margin-bottom: 15px;}
	.srch_tab .slects_box select{ background-color: #f1f1f1; padding-left: 10px;}
	h2.resp-accordion{ border-bottom: 0px none;}
	.offer-part .resp-tab-active{ border-bottom: 0px none;}


}





@media only screen and (max-width:767px) {
	
	ul.resp-tabs-list{ display: block;}
	h2.resp-accordion{ display: none;}
	.profile-name-part{padding: 10px 0px 10px 0;}
	.profile-part .profile-content{ padding: 0px;}
	.profile-part .resp-vtabs .resp-tabs-container{ width: 100%;}
	.profile-content .resp-tabs-container .order-box{ padding-top: 0px; }
	.dish-lf_img{ padding-left: 0px; padding-right: 0px;}
	.profile-content .order-box{padding: 15px;}
	.order-dish-details{ padding: 15px 15px 0 15px;}
	.accordian_sec .card-header .btn{background: url(../images/select_arrow.png) right 0px center no-repeat; font-size: 14px;}
	.accordian_sec .card-header .btn.collapsed{background: url(../images/arrow_up.png) right 0px center no-repeat;  }
	.resp-tab-content h3.mb-3{font-size: 18px;}
	.accordian_sec .card-header{padding: .2rem 0rem;}
	.navbar-dark .navbar-toggler{ position: absolute; top: 15px; right: 15px;}
	.navbar-dark .navbar-toggler-icon { background: url(../images/toggle_nav_icon.png) center no-repeat; }
	.navbar-nav{ border-top: 1px solid#c1c1c1; margin-top: 15px; padding-top: 10px;}
	.profile-name-part .text-left h2{ margin-top: 10px; font-size: 24px;}
	
	/*location*/
	.location-part{ width: 100%;}
	.slider-right{ width: 100%;}
	.location-add-input input.input-box{ width: 100%;}
	.con_sec h4{ font-size: 14px; font-weight: 500;}
	.search_sec{margin-top: 20px;}
	.search_sec .esc{ margin-top: 15px; float: right;}
	
	.restaurant_lst ._27-i_{ display: inline-block;}
	.srch_tab .slects_box{ width: 100%; background-color: #ccc;}
	.srch_tab .slects_box select{ padding-left:10px;}
	.offer-part .resp-tabs-list li{ width: 50%; float: left; margin: 0px; text-align:left;}
	
	.dishes_panel .m_bg h4 .se_menu{ width: 100%; float: left;}
	.dishes_panel .m_bg h4 .se_menu a{ float: left; margin-bottom: 5px; margin-top: 3px;}
	 section.restaurant-part{padding: 10px 0 20px 0;}
	
	a.navbar-brand.logo2 {
    display: inline-block;
    vertical-align: top;
}
.location-add {
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    width: 70%;
}
.location-add span.show-address {
    width: 175px;
}
.navbar-dark .navbar-toggler {
    color: #000;
    border-color: transparent;
    padding: 10px 0;
}	
.navbar-dark .navbar-toggler {
    border-color: transparent;
   /* background-color: #e43935;*/
    padding: 4px;
}
.navbar-dark .navbar-nav .nav-link {
    padding: 15px 0px;
    border-bottom: 1px solid #eee;
}
.navbar-dark .navbar-nav .nav-link span {
    top: 10px;
}
.navbar-dark .navbar-nav .nav-link {
    position: relative;
}
.dropdown-menu.cart-box {
    width: 100%;
    padding: 15px;
}
.collapse.show {
    display: block;
    height: 300px;
    overflow-y: auto;
}
.pop-img {
    padding-left: 30px;
    margin-bottom: 15px;
}
.food-pop button {
    margin-bottom: 20px;
}
.pop-head {
    text-align: center;
}
.pop-img {
    padding-left: 0;
    margin-bottom: 15px;
    text-align:center !important;
}
.pr-0 {
    padding-right: 15px !important;
}
ul.filter-menu li {
    display: inline-block;
    padding-left: 0;
}
li.filter-col {
    position: absolute;
    top: -30px;
    right: 16px;
}
.slider-right {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;

}
.location-part {
    width: 100%;
}
input.input-box {
    border: 0;
    border-bottom: 1px solid #cccc;
    line-height: 60px;
    width: 100%;
}
.gps-box h5 a, .address-add h5 a {
    color: #333;
    font-size: 16px;
    margin-bottom: 0;
}
.location-part, .login-part {
    width: 100%;
    height: 480px;
    overflow-y: auto;
	overflow-x:hidden;
}
.checkbox label {
    font-size: 13px;
}



.app-content{margin-top:0;text-align:center;margin-bottom:40px;}
input.location-input, input.location-input2{width:65%;float:left;}
input.location-input2{width:35%;float:left;}
.search-location-part{display:inline-block;width:100%;}
button.btn.find-food-btn{width:100%;position:initial!important;}
.howToProcess{padding:40px 0;}
.process-box p{margin-bottom:0;}
.profile-part .resp-vtabs ul.resp-tabs-list{width:100%;}
.profile-part .resp-vtabs ul.resp-tabs-list{height:100%;}

	
}

@media only screen and (max-width:575px) {
	/*.offer-part .resp-tabs-list li{  }*/
	.location-add{ width: 240px; left: 70px; position: absolute; top: 10px;}
	.location-add span.show-address{width: 160px;}
	
	.lst .rg_sec{ float: left; width: 100%; max-width: 100%; margin-top: 10px;}
	.dishes_panel .m_bg h4{line-height: 25px;}
	.restaurant_lst .offer-tag2{font-size: 10px;}
	.login-location{padding:15px 0;}
	input.location-input, input.location-input2::placeholder{font-size:12px;}
	.login-header{margin-bottom:40px;}
	.heading-text h1{font-size:32px;}
	.heading-text p{margin-top: 0;font-size:14px;}
	.city-head{margin:30px 0 7px;font-size:15px;}
	.logo img{width:120px;margin-top:11px;}
	.process-box{margin-bottom:30px;}
	ul.city-name li a{font-size:13px;}
	.app-content h1{font-size:28px;}
	.app-content p{font-size:14px;}
	.mobile-app a{margin-bottom:15px;}
	.footer-col1 ul li a{font-size:13px;}
	.footer-col1 h3{margin-bottom:7px;}
	.footer-col1 ul{margin-bottom:30px;}
	
}



