@charset "utf-8";
/* CSS Document */
body {
	font-family: 'Poppins', sans-serif;
}
a { -webkit-transition: all .45s ease-in-out; -moz-transition: all .45s ease-in-out; -o-transition: all .45s ease-in-out; -ms-transition: all .45s ease-in-out; transition: all .45s ease-in-out; text-decoration: none; }
a:hover { -webkit-transition: all .45s ease-in-out; -moz-transition: all .45s ease-in-out; -o-transition: all .45s ease-in-out; -ms-transition: all .45s ease-in-out; transition: all .45s ease-in-out; text-decoration: none; }
button:focus, input:focus, input[type="checkbox"]:focus, input[type="radio"] {
    outline:none;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: transparent;
}

.login-location {
    padding-left: 70px;
    padding-right: 75px;
    padding-top: 60px;
}
.logo img {
	width:200px;
}
ul.login-nav {
    text-align: right;
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.login-nav li {
    padding: 0;
    margin: 0;
	display:inline-block;
	vertical-align:middle;
}
ul.login-nav li a {
    padding: 12px 15px;
    display: block;
    color: #333;
    font-weight: 600;
}
ul.login-nav li.signup-btn a {
	background-color:#e43935;
	color:#FFF;
}
.login-header-img img {
    width: 100%;
}

.login-header {
	margin-bottom:80px;
}
.heading-text {
    margin-bottom: 35px;
}
.heading-text p {
    font-size: 22px;
    margin-top: 25px;
    color: #666;
}
.search-location-part {
    border: 1px solid #e43935;
	position:relative;
}
input.location-input, input.location-input2 {
    border: 0;
    line-height: 60px;
    padding: 0 20px;
    width:280px;
}
input.location-input2 {
	 width:185px;	
	 background-image:url(../images/locat_icon.png);
	 background-position:left center;
	 background-repeat:no-repeat;
	 background-size:20px;
	 padding-left:30px;
}
button.btn.find-food-btn {
    background-color: #e43935;
    border-radius: 0;
    border: 0;
    color: #FFF;
    position: absolute;
    right: 0;
    line-height: 48px;
    padding: 6px 25px;
    font-size: 20px;
    /* text-transform: uppercase; */
    font-weight: 550;
}


.city-head {
    font-weight: 400;
    font-size: 18px;
    color: #a9abb2;
    margin:50px 0 15px;
    letter-spacing: -.2px;
    text-transform: uppercase;
}
ul.city-name {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.city-name li {
   display:inline-block;
   margin-right:10px;
}
ul.city-name li a {
    color:#333;
	font-weight:500;
}

.login-header-img {
	margin-right:-15px;
}

section.howToProcess {
    background-color: #60090e;
	text-align:center;
}
.process-box i {
	margin-bottom:40px;
	display:block;
}
.process-box i img {
    width: 120px;
}
.process-box h3 {
    color: #FFF;
    font-size: 20px;
}
.process-box p {
    margin-top: 20px;
    color: #ffcacd;
    width: 260px;
    margin: auto;
    font-size: 13px;
    margin-bottom: 50px;
    margin-top: 15px;
}


.appPart {
	padding:70px 0 0;
}
.mobile-app a img {
    width: 180px;
}
.mobile-app a {
    display: inline-block;
	margin-right:10px;
}
.app-content {
    margin-top: 180px;
}
.app-content p {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 20px;
    color: #999;
    font-weight: 300;
}
.app-img {
    text-align: center;
}


.app-img img{max-width:100%;}


footer {
    background-color: #000000;
    padding: 50px 0;
}

.footer-col1 {
    padding-bottom:30px;
    border-bottom: 1px solid #666;
    margin-bottom:30px;
}

.footer-app-icon a {
    border: 1px solid #333;
    border-radius: 5px;
	margin-bottom: 15px;
}
.footer-col1 h3 {
    font-size: 18px;
    color: #fff;
	margin-bottom:20px;
}
.footer-col1 ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.footer-col1 ul li {
    margin-bottom: 5px;
}
.footer-col1 ul li a{
    color:#999;
}
.footer-col1 ul li a:hover{
    color:#FFF;
}

.copyright p {
    color:#999;
	margin-bottom:15px;
}
.copyright ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.copyright ul li {
    display: inline-block;
    margin: 0 10px;
}
.copyright ul li a{
    color:#ccc;
}
.copyright ul li a:hover {
    color:#e43935;
}



/* / Index */
.inner-part {
	padding-top:65px;
}
.navbar-dark {
    background-color: #FFF;
    box-shadow: 0 1px 10px #ccc;
}
.navbar-dark .navbar-nav .nav-link {
    color: #666;
    font-size: 15px;
    font-weight: 300;
	position:relative;
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color:#e43935;
}
.logo2 img {
	width:30px;
}

.location-add {
    font-size: 14px;
}
.location-add a {
    display: inline-block;
    vertical-align: middle;
    color: #e43935;
    font-weight: 600;
    margin-right: 5px;
}
.location-add span.show-address {
	width:200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	font-weight:300;
	display:inline-block;
    vertical-align:middle;
}
.location-add span.search-slide {
	color: #e43935;
	display:inline-block;
    vertical-align:middle;
	cursor:pointer;
}
.navbar-dark .navbar-nav .nav-link span {
    color: #e43935;
    font-size: 10px;
    border-radius: 3px;
    position: absolute;
    top: 0;
    right: 0;
	font-weight:600;
}
.navbar-dark .navbar-nav .nav-link {
    color: #666;
    font-size: 15px;
    font-weight: 300;
    position: relative;
    padding: 8px 20px;
}

.banner-part {
    background-color: #171a2b;
}
.offer-col img {
	width:100%;
}
.offer-col {
    position: relative;
    margin: 40px 20px 30px;
	    transition: transform .5s cubic-bezier(.215,.61,.355,1);
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    transform: translateZ(0);
}
.offer-col:hover {
	-ms-transform: scale(1.05);
    transform: scale(1.05);
}
.offer-col span {
    background-color: #FFF;
    position: absolute;
    top: 15px;
    font-size: 12px;
    text-transform: uppercase;
    padding: 3px 7px;
    left: 15px;
    font-weight: 500;
}
.offer-col h3 {
	background: rgba(0,0,0,1);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='transparent', endColorstr='#000', GradientType=0 );	
	font-size:20px;
	padding:15px;
	color:#FFF;
	font-weight:600;
	text-transform:uppercase;
	position:absolute;
	bottom:0;
	width:100%;
	left:0;
	right:0;
	margin-bottom:0;
}

.banner-part button.slick-arrow {
    position: absolute;
    top: 42%;
	z-index:99;
	text-indent:-9999px;
	width:40px;
	height:40px;
	border:0;
	border-radius:50px;
	background-color:rgba(255,255,255,0.5);
	cursor:pointer;
}
.banner-part button.slick-arrow:hover {
	background-color:rgba(255,255,255,1);
}
.banner-part button.slick-prev.slick-arrow {
	left:0;
	background-image:url(../images/left_arrow.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-size:20px;
}
.banner-part button.slick-next.slick-arrow {
	right:0;
	background-image:url(../images/right_arrow.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-size:20px;
}

section.brfood-part {
    background-color: #f2f5fc;
	padding:15px 0;
}
.pop-img {
    padding-left: 30px;
}
.pop-img img.round-img {
    width: 55px;
    height: 55px;
    display: inline-block;
    border-radius: 60px;
    border: 5px solid #FFF;
    box-shadow: 1px 1px 3px #333;
    margin-left: -31px;
	position: relative;
}
.pop-img img.round-img.img1 {
	z-index: 99;
}
.pop-img img.round-img.img2 {
	z-index: 89;
}
.pop-img img.round-img.img3 {
	z-index: 79;
}
.pop-head h4 {
    font-size: 19px;
    margin-bottom: 0;
}
.pop-head p {
    font-size: 12px;
    color: #666;
	margin-bottom:0;
}
.food-pop button {
    background-color: #e43935;
    border: 0;
    color: #FFF;
    padding: 5px;
    width: 100%;
    margin-top: 11px;
    border-radius: 4px;
    cursor: pointer;
}
.pop-img img {
    width: 41px;
}


section.restaurant-part {
    padding: 40px 0;
}
.inner-heading {
    padding-bottom:0;
    margin-bottom: 35px;
    border-bottom: 1px solid #ccc;
}
.inner-heading h1 {
    font-size: 22px;
    margin-bottom: 6px;
}
ul.filter-menu {
    padding: 0;
    margin: 0;
    list-style: none;
	text-align: right;
}
ul.filter-menu li {
    display: inline-block;
    padding-left: 15px;
}
ul.filter-menu li a {
    font-size: 13px;
    color: #666;
    padding-bottom: 10px;
	border-bottom:1px solid #ccc;
}
ul.filter-menu li a:hover {
    color: #333;
	border-bottom:1px solid #333;
}
.filter-col a{
	color: #e43935 !important;
}
.restaurant-col {
    position: relative;
    min-height: 310px;
    margin-bottom: 30px;
}
.restaurant-col {
    position: relative;
    min-height: 310px;
    margin-bottom: 30px;
	-webkit-transition: all .45s ease-in-out; -moz-transition: all .45s ease-in-out; -o-transition: all .45s ease-in-out; -ms-transition: all .45s ease-in-out; transition: all .45s ease-in-out;
}
.restaurant-col:hover {
	box-shadow:5px 5px 5px #ccc;
}
.restaurant-col img {
    width: 100%;
}
.restaurant-col span.offer-tag1, .restaurant-col span.offer-tag2 {
	background-color: #3b3c41;
	position: absolute;
	top: 15px;
	font-size: 12px;
	text-transform: uppercase;
	padding: 3px 7px;
	left: 15px;
	font-weight: 500;
	color:#FFF;
}
.restaurant-col span.offer-tag2 {
	background-color: #e43935;
}
.restra-inner {
	padding:10px 0;
}
.restaurant-col h3 {
    font-size: 18px;
    margin-bottom: 2px;
}
.restaurant-col p {
    font-size: 13px;
    margin-bottom: 2px;
}
.restra-inner ul {
    padding: 0 0 13px;
    margin:10px 0;
	border-bottom:1px solid #eee;
}
.restra-inner ul li:nth-child(1) {
    list-style: none;
	width: 40px;
}
.restra-inner ul li:last-child {
    text-align:right;
}
.restra-inner ul li {
    text-align: center;
    font-size: 13px;
    display: inline-block;
    width: 40%;
	color:#666;
}
span.rating {
    background-color: #4ec478;
    color: #FFF;
    width: 100%;
    display: block;
    padding: 2px 0;
	font-size:12px;
}
p.offer-text i img {
    width: 20px;
    margin-right: 10px;
}
p.offer-text {
    font-size:14px;
	color:#e43935;
}

.slider-right {
    position: fixed;
    right: 0;
    top: 0;
    width:500px;
    height: 100%;
    background-color: #FFF;
    z-index:99999;
    padding: 25px;
	-webkit-transition: all .45s ease-in-out; 
	-moz-transition: all .45s ease-in-out; 
	-o-transition: all .45s ease-in-out; 
	-ms-transition: all .45s ease-in-out; 
	transition: all .45s ease-in-out;
}
.hidden {
     display:none;
}

button.close-btn img {
    width: 18px;
}
button.close-btn {
    background-color: transparent;
    border: 0;
	cursor:pointer;
}
.slider-right h1 {
    font-size: 26px;
    margin-top: 25px;
    margin-bottom: 5px;
}
.login-part p {
    margin-bottom: 50px;
}
.login-part p a {
    color: #e43935;
    font-weight: 400;
    font-size: 15px;
}
input.input-box {
    border: 0;
    border-bottom: 1px solid #cccc;
    line-height: 60px;
    width: 350px;
}
button.Submit-btn {
    width: 350px;
    border: 0;
    background-color: #e43935;
    margin-top: 25px;
    font-size:16px;
    line-height: 50px;
    color: #FFF;
    cursor: pointer;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #e43935;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 8px 15px;
    clear: both;
    font-weight: 300;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: auto;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 200px;
    padding: 0;
    margin: 13px 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0;
    right: 0;
}

.dropdown-menu.cart-box {
	width:350px;
	padding:15px;
}
.cart-dish img {
    width: 100%;
}
.cart-head h5 {
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.cart-dish {
	margin-bottom:10px;
}
.bdrtop {
    display: block;
    border-top: 1px solid #eee;
    width: 100%;
    padding: 5px;
    margin-top: 9px;
}
.cart-box small{
	display:block;
}

.cart-check-btn {
	border: 0;
    background-color: #e43935;
    font-size:15px;
    line-height:40px;
	color:#FFF;
	width:100%;
	margin:15px 15px 0;
	cursor:pointer;
}
.filter-box button.Submit-btn {
    width: 100%;
}
.gray-btn {
	background-color:#FFF !important;
	color:#999 !important;
	border:2px solid #eee !important;
}

.checkbox {
  padding-left: 20px; }
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555; }
  .checkbox input[type="checkbox"] {
    opacity: 0; }
    .checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; }
    .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
      .checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff; }

.radio {
  padding-left: 20px; }
  .radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .radio label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 50%;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out; }
    .radio label::after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 11px;
      height: 11px;
      left: 3px;
      top: 3px;
      margin-left: -20px;
      border-radius: 50%;
      background-color: #555555;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
  .radio input[type="radio"] {
    opacity: 0; }
    .radio input[type="radio"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .radio input[type="radio"]:checked + label::after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1); }
    .radio input[type="radio"]:disabled + label {
      opacity: 0.65; }
      .radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed; }
  .radio.radio-inline {
    margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
  background-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #428bca; }

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c; }
  
 .filter-checkbox input[type=checkbox], .filter-checkbox input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    vertical-align: top;
    display: inline-block;
}
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
    vertical-align: top;
    font-size: 15px;
    margin-bottom: 0;
}
.filter-checkbox .checkbox {
    padding-left: 5px;
    margin-top: 15px;
}
.red-color {
	background-color:#e43935 !important;
}

.location-add-input {
	margin-bottom:15px;
}

.location-left button.close-btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    float: right;
}

.slider-right.location-left {
	right:auto !important;
	left:0 !important;
}
.location-part {
    float: right;
    margin-top: 20px;
    width: 350px;
}
.gps-box {
    padding:20px 20px 20px 70px;
    position: relative;
    border: 1px solid #ccc;
}
.gps-box h5 a, .address-add h5 a {
	color:#333;
	font-size:18px;
	margin-bottom:5px;
}
.gps-box h5 a:hover, .address-add h5 a:hover{
	color:#e43935;
}
.gps-box i {
    position: absolute;
    left: 16px;
    top: 16px;
}

.address-add {
	padding:20px;
	position: relative;
    border: 1px solid #ccc;
	margin-top:20px;
}

/* Offer */
 
.inner-banner img {
	width:100%;
}
.offer-head {
    margin-bottom: 35px;
}
.offer-head h2 {
    font-size: 25px;
}
.offer-head p {
    font-size:14px;
	color:#999;
	font-weight:300;
}
.coupon-box {
    border: 1px solid #eee;
    padding: 20px;
    margin-bottom: 15px;
    min-height: 300px;
}
.coupon-box h5 {
    font-size: 17px;
}
.coupon-box p {
    font-size: 15px;
	margin-bottom:5px;
}
.coupon-tag {
    border: 1px dashed #e43935;
    padding: 7px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 15px;
}
.coupon-tag i img {
    width: 20px;
    margin-right: 5px;
}
.coupon-box a {
    color: #e43935;
	display:block;
	margin-bottom:10px;
}
.coupon-box a.copy-btn {
    color: #e43935;
    border: 1px solid;
    display: inline-block;
    padding: 8px 13px;
    font-weight: 500;
}

.bank-fooer-box {
	border: 1px solid #eee;
    padding: 20px 20px 20px 75px;
    margin-bottom: 15px;
	position:relative;
}
.bank-fooer-box i {
    position: absolute;
    left: 15px;
    top: 15px;
}
.bank-fooer-box i img {
    width: 50px;
}
.bank-fooer-box h5 {
    font-size: 16px;
}
.bank-fooer-box p {
    font-size: 14px;
	margin-bottom:5px;
}
.bank-fooer-box a {
    color: #e43935;
	display:block;
	font-size:14px;
}
.more-pro {
    width: 100%;
    border: 2px solid #eee;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    color: #e43935;
}
.more-pro a {
    color: #e43935;
	line-height: 245px;
	display:block;
}
.more-pro:hover { 
	box-shadow:10px 10px 10px #eee;
	-webkit-transition: all .45s ease-in-out; 
	-moz-transition: all .45s ease-in-out; 
	-o-transition: all .45s ease-in-out; 
	-ms-transition: all .45s ease-in-out; 
	transition: all .45s ease-in-out;
}


/* Profile */

.profile-part {
	background-color:#e43935;
}

.profile-name-part {
    padding: 45px 25px 25px;
	color:#FFF;
}
a.edit-btn {
    display: inline-block;
    border: 1px solid #FFF;
    color: #FFF;
    padding: 8px 20px;
    margin-top: 13px;
    text-transform: uppercase;
}


.profile-content {
	padding:25px;
	background-color:#FFF;
}

.profile-part .resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 25%;
    background-color: #f7f7f7;
    height: 100vh;
	padding:15px 0 0 15px;
}
.profile-part .resp-vtabs li.resp-tab-active {
    border: 0;
}
.profile-part .resp-vtabs .resp-tabs-container {
    padding: 0px;
    border:0;
    float: left;
    width: 75%;
}
.order-box {
	padding:20px;
	border:1px solid #ccc;
	margin-bottom:15px;
}
.order-dish-details {
    margin-left: -15px;
}
.dish-img img {
    width: 100%;
}
.order-dish-details h5 {
    font-size: 17px;
    margin-bottom: 4px;
}
.order-dish-details p {
    font-size:13px;
    margin-bottom:0px;
	color:#999;
}
.order-dish-details a {
    color: #e43935;
    font-size: 13px;
    margin-top: 5px;
    display: block;
}
a.Delivered-text {
    color: #999;
    font-size: 13px;
}
a.Delivered-text i {
    color:#60b246;
}
.bdrtop2 {
    border-top: 1px dashed #ccc;
    margin: 15px 0;
}
button.reoder-btn {
    border: 0;
    background-color: #e43935;
    color: #FFF;
    padding: 6px 15px;
    display: inline-block;
    margin-top: 15px;
    margin-right: 15px;
    cursor: pointer;
    border: 1px solid #e43935;
    text-transform: uppercase;
    font-weight: 500;
}
button.help-btn {
    border:1px solid #e43935;
    background-color: #FFF;
    color: #e43935;
    padding: 6px 15px;
    display: inline-block;
    margin-top: 15px;
	cursor:pointer;
	text-transform: uppercase;
    font-weight: 500;
}


/* New */

.profile-content .restra-inner ul li {
    width: 39%;
}
.profile-content .restra-inner ul li:nth-child(1) {
    list-style: none;
    width: 40px;
}
.profile-content p.offer-text {
    font-size: 13px;
    color: #e43935;
}
span.like-tag1 {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #e43935;
    color: #FFF;
    padding: 3px 7px;
    font-size: 13px;
}
.green-text {
	color:#6C3 !important;
}
.payment-box {
    padding: 15px;
    border: 1px solid #ccc;
	margin-bottom:30px;
}
.payment-box i, .payment-detail, a.delink-text {
    display: inline-block;
    vertical-align: middle;
	margin-right:10px;
}
a.delink-text { 
	margin-right:0;
}
.payment-detail {
    width: 200px;
}
.payment-detail h5 {
    font-size: 16px;
    margin-bottom: 0;
}
a.delink-text {
    margin-right: 0;
    color: #e43935;
    text-transform: uppercase;
	font-weight:500;
}
.payment-box i img {
    width: 49px;
}
.add-box {
    border: 1px solid #ccc;
    margin-bottom: 25px;
    padding: 15px 15px 15px 50px;
    position: relative;
}
.add-box i {
    position: absolute;
    left: 14px;
}
.add-box h5 {
    font-size: 16px;
}
.add-box p {
    font-size: 13px;
    margin-bottom: 10px;
    color: #999;
}
.add-box a {
    color: #e43935;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 10px;
}
.resp-tabs-list li {
    font-weight: 400;
    font-size: 16px;
}
.resp-vtabs .resp-tabs-list li {
    padding: 14px 15px 15px 14px !important;
}
.resp-vtabs li.resp-tab-active {
    color: #e43935;
}
a.change {
    position: absolute;
    right: 105px;
    top: 20px;
	color:#e43935;
	text-transform:uppercase;
}
.edit-row {
    position: relative;
}
.super-box {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 25px;
}
.super-box h5 {
    margin-bottom: 0;
    color: #e43935;
}
.super-box small {
    margin-bottom:15px;
    color: #e43935;
	font-size:12px;
	display:block;
}
.super-box p { 
	font-size:14px;
	color:#666;
}
.brfood-super button.reoder-btn {
    margin-left: 15px;
}



/* 3 may pushpendra css start here*/

.delivery_sec{padding:30px 0;background:#e9ecee;}
.delivery_choose_head h4{font-size:28px;color:#282c3f;font-weight:600;margin-bottom:2px;}
.delivery_choose_head p{color:#7e808c;font-size:16px;}
.choose_delivery_left_add{background:#fff;padding:35px;margin-bottom:30px;box-shadow:0px 0px 16px -16px;position:relative;}
.choose_delivery_left_add::before{content:"";height: 40px;width:40px;position: absolute;left:-25px;top:31px;background:url(../images/location_large.png);background-size:cover;background-repeat:no-repeat;box-shadow: 0px 0px 12px -3px;border: none;}
.adrs_dlivr_s_img{width:35px;float: left;}
.adrs_dlivr_s_con{float:left;width:calc(100% - 35px);}
.adrs_dlivr_con_top{line-height:1.2;min-height:120px;}
.adrs_dlivr_con_top h5{font-size: 16px;font-weight: 400;margin-bottom:2px;}
.adrs_dlivr_con_top span{font-size:13px;color:#93959f;}
.adrs_dlivr_con_bottom span{display: inline-block;width:100%;font-size:14px;}
.adrs_dlivr_con_bottom button{font-size:14px;border-radius: 0px;font-weight:600;padding:6px 22px;margin-top:10px;background:#60b246;border: 1px solid #60b246;text-transform:uppercase;letter-spacing:1px;}
.adrs_dlivr_con_bottom button:hover{background:#282c3f;border-color:#282c3f;}
.adrs_delivery_single{border:1px solid #e9e9eb;padding:15px;margin-bottom: 30px;min-height: 222px;}
button.adrs_add_n{border:1px solid #60b246;background:transparent;color:#60b246;}

.choose_delivery_left_tab{padding:35px;background:#fff;box-shadow:0px 0px 16px -16px;margin-bottom:30px;}
.sidetab_delivery{float:left;width:35%;background:#b9807e17;padding:15px 0;}
.choose_delivery_left_tab {position:relative;}
.choose_delivery_left_tab::before{color:transparent;content:"";height: 40px;width:40px;position: absolute;left:-25px;top:35px;background:url(../images/wallet_large.png);background-size:cover;background-repeat:no-repeat;box-shadow: 0px 0px 12px -3px;border: none;}
.sidetab_delivery_content{float:left;width:65%;}
.sidetab_delivery ul li{display:block;width:100%;}
.sidetab_delivery .nav-pills .nav-link{background:transparent;margin-left:15px;padding:20px 15px;color:#686b78;font-size:14px;}
.sidetab_delivery .nav-pills .nav-link.active, .nav-pills .show>.nav-link{background:#fff;color:#000;border-radius: 0px;font-weight:600;font-size:14px;}
.sidetab_delivery .nav-pills .nav-link.active img{opacity:1}
.sidetab_delivery .nav-pills .nav-link img{vertical-align:bottom;padding-right:12px;opacity:0.7;}
.wallet_tab_out{padding:0 25px;}
.wallet_tab_single{border: 1px solid #e9e9eb;padding: 25px;margin-bottom:15px;}
.wallet_tab_single h5{font-size:16px;font-weight:500;color:#282c3f;margin-bottom:4px;}
.wallet_tab_single p{color:#93959f;font-size:13px;margin-bottom:10px;}
.wallet_tab_single button{font-size:14px;text-transform:uppercase;border-radius: 0px;padding:7px 22px;border:1px solid #60b246;background:#60b246}
.wallet_tab_single button b{font-size:15px;}
.wallet_tab_single button:hover{background:#282c3f;border:1px solid #282c3f;}
.wallet_tab_single_link a{color:#e43935;font-size:13px;font-weight:600;text-transform:uppercase;}
.wallet_tab_s_img{margin-bottom:16px;}

.cards_accept ul{padding-left: 0;}
.cards_accept ul li{display: inline-block;list-style-type:none;}
.cards_accept ul li span{font-size:13px;padding-right:10px;color:#7e808c;}
.credit_debit_card_out h5{font-size:17px;color:#282c3f;}
.credit_debit_card_out{padding:0 25px;}
.add_card_inputs .form-group{margin-bottom: 0;}
.add_card_inputs .form-group input{border-radius: 0px;padding:15px;border-bottom:none;height:70px;border-color:#e6e6e6;}
.add_card_inputs .form-group input:focus{box-shadow:none;}
.add_card_inputs .form-group input::placeholder{font-size:13px;}
.form-group.last_child_card input{border-bottom:1px solid #e6e6e6;}
.form_input_valid{float:left;width:50%;}
.form_input_cvv{float:left;width:50%;}
.form_input_cvv input{border-left:none;}

.checkbox_last{font-size:13px;padding-left: 25px;position:relative;margin-top:25px;}
.checkbox_last input{position: absolute;left: 0;height:17px!important;width:17px;}
.add_card_inputs form button{width:100%;border-radius: 0px;padding:10px;letter-spacing:1px;border: 1px solid #60b246;background:#60b246;}
.add_card_inputs form button:hover{background: #282c3f;border-color: #282c3f;}
span.last_span_small{font-size:12px;color:#93959f;display: inline-block;width:100%;line-height:1.3;margin-top:20px;}

.upi_sec{padding:0 25px;}
.upi_top_tag {margin-bottom:15px;}
.upi_top_tag span{float:left;}
.upi_top_tag span:first-child{width:20%;}
.upi_top_tag span:nth-child(2){width:50%;font-size:13px;color:#93959f;font-size:12;line-height:1.3;font-weight:300;}
.upi_top_tag span:last-child{width:30%;text-align:right;}
.upi_top_tag span:last-child a{color: #5d8ed5;text-transform: uppercase;font-weight: 600;cursor: pointer;font-size: 12px;display:inline-block;width:100%;}
.card_accept_upi ul{margin-bottom: 0;}
.card_accept_upi{padding:15px 0;border-bottom: 1px solid #e9e9eb;margin-bottom:25px;}
.pay_vpa_input input{border-radius: 0px;padding: 15px;height: 70px;border-color: #e6e6e6;}
.pay_vpa_input button{width: 100%;border-radius: 0px;padding: 10px;letter-spacing: 1px;border: 1px solid #60b246;background: #60b246;}
.pay_vpa_input button:hover{background: #282c3f;border-color: #282c3f;}
.pay_vpa_head h5{font-size:15px;font-weight:600;color:#282c3f;margin-bottom:2px;}
.pay_vpa_head p{font-size:13px;color:#686b78;font-weight:300;}

.pay_on_delivery_sec{padding:25px;}
.pay_delivery_content{margin-top:35px;}
.pay_delivery_content h5{color: #282c3f;font-weight: 500;font-size: 17px;}
.pay_delivery_content p{font-size: 13px;margin-top: 2px;color: #7e808c;font-weight: 300;line-height: 18px;}
.pay_delivery_content button{width: 100%;border-radius: 0px;padding: 10px;letter-spacing: 1px;border: 1px solid #60b246;background: #60b246;}
.pay_delivery_content button:hover{background: #282c3f;border-color: #282c3f;}

.payment_sec_delivery {padding:25px;background:#fff;box-shadow:0px 0px 16px -16px;}
.right_side_s_img{width:50px;height: 50px;overflow:hidden;float:left;}
.right_side_s_img img{max-width:100%;}
.right_side_s_content{width:calc(100% - 50px);float:left;padding-left:15px;}
.right_side_s_content h5{font-size:17px;font-weight:500;color:#282c3f;margin-bottom:0px;}
.right_side_s_content p{color: #686b78;font-size:13px;}
.veg_non_icon span{font-size:13px;padding-left:5px;display:inline-block;width:calc(100% - 20px);float:left;}
.veg_non_icon i{width:20px;height:20px;float:left;}
.veg_non_icon i img{max-width:100%;vertical-align:inherit;}
.veg_non_quantity{margin-top:15px;}
.veg_non_right_side{margin-top:13px;}
.veg_non_quantity button{float:left;height:32px;width:32px;background:transparent;}
.veg_non_quantity button:hover{cursor:pointer;}
.veg_non_quantity input{float:left;border-left:none!important;border-right:none!important;border:1px solid #60b246;height:32px;padding:0 5px;text-align:center;width:40px;font-size:14px;color:#60b246;}
.btn_left_quantity{border-right:none;border:1px solid #60b246;border-right:none;}
.btn_right_quantity{border-left:none;border:1px solid #60b246;color:#60b246;border-left:none;}
.veg_non_quantity span{padding-left:15px;display: inline-block;line-height:2.5;font-size:13px;color:#535665;}
.suggetion_right_input input{border-radius: 0px;height:45px;background:#f9f9f9;font-size:13px;padding-left:33px;border-color:transparent;}
.suggetion_right_input input:focus{box-shadow:none;border-color:transparent;background:#f9f9f9;}
.suggetion_right_input input::placeholder{font-size:12px;color:#a7a7a7;}
.suggetion_right_input{position:relative;margin-top:15px;}
.coma_input_main{position: absolute;top:17px;height:12px;width:12px;left:10px;}
.right_sidebar_coupon span{margin-right:10px;}
.right_sidebar_coupon a{color:#535665;font-size:13px;border:1px dashed #a9abb2;display:inline-block;padding:15px;width:100%;}
.right_sidebar_coupon a:hover{background:#f9f9f9;}
.logo_dont_pay{float:left;;}
.logo_right_super{float:right}
.logo_dont_img{float:left;width:30px;float:left;}
.logo_dont_text{width:calc(100% - 30px);float:left;line-height:1;}
.logo_dont_text h5{font-size:13px;margin-bottom: 0;font-weight:600;color:#7e808c;}
.logo_dont_text span{font-size:11px;color:#7e808c;}
.logo_right_super span{font-size:13px;font-weight:500;color:#e43935;}
.dont_pay_div {padding:15px;border:1px solid #a9abb2;margin-top:15px;}
.dont_pay_div:hover{cursor:pointer;background:#f9f9f9;}

.bill_detail_right{margin-top:20px;}
.bill_detail_right h5{font-size:14px;font-weight:500;color:#282c3f;}
.bill_detail_r_main ul{padding-left: 0;margin-bottom: 0;display:inline-block;width:100%;}
.bill_detail_r_main ul li{list-style-type:none;display: inline-block;width:100%;padding:5px 0;vertical-align:top;}
.bill_detail_r_main ul li span{font-size:13px;color:#686b78;}
.bill_detail_r_main ul li span:first-child{text-align:left;float:left;}
.bill_detail_r_main ul li span:last-child{text-align:right;float:right;}
.bill_detail_r_main  ul .total_dis_li span{color:#60b246;}
.bill_detail_r_main  ul .delivery_fee_li{border-top:1px solid #e9e9eb;border-bottom:2px solid #282c3f;padding:15px 0;}
.bill_detail_r_main  ul .top_pay_li{padding:15px 0 0 0;font-weight:600;}
.bill_detail_r_main  ul .top_pay_li span{color:#282c3f;font-weight:600;}
.payment_saved_last span{margin-top:15px;padding:8px 20px;background:#dbe5dc;color:#60b246;display:inline-block;width:100%;vertical-align:top;font-size:13px;border:1px solid #60b246;font-weight:500;}

/* 3 may pushpendra css end here*/

/* custum checkbox start here*/
.tab-pane [type="radio"]:checked,
.tab-pane [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.tab-pane [type="radio"]:checked + label,
.tab-pane [type="radio"]:not(:checked) + label
{
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
.tab-pane [type="radio"]:checked + label:before,
.tab-pane [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  right:18px;
  top: 0;
  bottom:0;
  margin:auto;
  width:22px;
  height:22px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background:url(../images/check_before.png);
  background-size:cover;
}
.tab-pane [type="radio"]:checked + label:after,
.tab-pane [type="radio"]:not(:checked) + label:after {
  content: '';
  width:22px;
  height:22px;
  /*background: #F87DA9;*/
  background:url(../images/check.png);
  background-size:cover;
  position: absolute;
  top:0px;
  bottom:0;
  margin:auto;
  right:18px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.tab-pane [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.tab-pane [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.netbanking_banks_in label.label_radio_net{width:100%;margin-bottom: 0;padding-left: 0;padding:15px;border:1px solid #e9e9eb;}
.netbanking_banks_in label.label_radio_net:hover{box-shadow:0px 0px 15px -9px;}
.netbanking_banks_in p{width:50%;float:left;padding:0 5px;}
.name_radio{font-size:13px;color:#282c3f;text-transform:uppercase;font-weight:500;margin-left: 4px;}

/* custum checkbox end here */

.netbanking_bot_input select{height:45px;font-size:14px;color:#3d4152;font-weight:500;border:1px solid #e9e9eb;width:100%;padding:12px;}
.banks_hr{margin-bottom:25px;}
.netbanking_bot_button{margin-top:25px;}
.netbanking_bot_button button{width: 100%;border-radius: 0px;padding: 10px;letter-spacing: 1px;border: 1px solid #60b246;background: #60b246;}
.netbanking_bot_button button:hover{background: #282c3f;border-color: #282c3f;}


/* 3 may pushpendra css end here*/


/*mukesh*/

/*search page css*/
.search_sec{ width: 100%; display: inline-block; margin-top: 60px;}
.search_sec .input-group .form-control{ height: 50px; border-radius:0px; border-left: 0px none; border-right: 0px none;}
.search_sec .input-group-text {height: 50px; border-radius:0px; background: none; border-right: 0px none;}
.search_sec .clear .input-group-text{ border-left: 0px none; border-right: 1px solid #ced4da;}
.search_sec .form-control:focus{ box-shadow: none; border-color: #ced4da; }
.search_sec .clear a{ color: #e43935;}
.search_sec .esc { width: 28px; font-size: 15px; color: #8A8A8A;}
.search_sec .esc img{ margin-bottom: 3px; }
.search_sec .input-group:focus{ box-shadow: 0 0 3px #000;}
.restaurant_lst:before{ display: none;}
.restaurant_lst ._27-i_{text-transform: uppercase; color: #7e808c; font-size: 14px; margin-bottom: 35px; margin-left: 0px; font-weight: 500;}
.restaurant_lst ._1qtJs {color: #282c3f;}
.srch_tab .slects_box{ width: 170px; float: right; border:0px none; font-size: 15px; }
.srch_tab .slects_box select{border:0px none; font-size: 18px; font-weight: 400; color: #212529;}

/* Select Dropdown Css */
.slects_box { display: inline-block; vertical-align: middle; width: 100%; }
.slects_box select { -moz-appearance: none; color: #606060; background: none; -moz-appearance: none; appearance: none; -webkit-appearance: none; -ms-appearance: none; -o-appearance: none; cursor: pointer; float: left; font-size: 15px; overflow: hidden; padding-left: 10px; height: 42px; text-overflow: ellipsis; white-space: normal; width: 100%; border: 1px solid #d9d9d9; border-radius: 3px; background: #ffffff; width: 100%; }
.slects_box span::after { background: url(../images/select_arrow.png) no-repeat top right; bottom: 0; color: #333; content: ""; height: 10px; padding: 14px 25px; pointer-events: none; position: absolute; right: 15px; top: 18px; z-index: 1; }
.slects_box span { display: inline-block; float: left; overflow: hidden; position: relative; width: 100%; }


.dishes_panel{ width: 100%; display: inline-block; border: 1px solid#e0e1e3;}
.dishes_panel .m_bg{ padding: 15px; background-color: #f1f4f9;}
.dishes_panel .m_bg h4{ font-size: 16px; font-weight: 500;}
.dishes_panel .m_bg h4 a{ float: right; color: #6193d8;}
.dishes_panel .m_bg p{ font-size: 13px; color: #8b8e93;}
.dishes_panel .m_bg .spc span{ margin-right: 3px; font-size: 12px;}
.dishes_panel .m_bg .spc span:nth-child(2), .dishes_panel .m_bg .spc span:nth-child(3){ margin-left: 3px;}

.lst{ margin: 0px; padding: 0px; padding: 15px 15px;}
.lst li{ list-style: none; border-bottom: 1px solid#e9e9eb; padding: 16px 0;}
.lst li:last-child{ border-bottom: 0px none;}
.lst .veg_icon{ float: left;}
.lst .cat_hd{ padding-left: 22px;}
.lst .cat_hd h5{ font-size: 14px; margin-top: 5px;}
.lst .cat_hd span{ font-size: 13px; color: #5d686e; padding-top: 5px; margin-bottom: 0; padding-bottom: 3px;}

.lst .rg_sec{ max-width: 100px; float: right;}
.lst .rg_sec .btn{ width: 100%; text-align: center; color: #3a9b34; border: 1px solid#d4d5d9; background: none; border-radius:0px; font-size: 14px;}
.lst .rg_sec .btn:hover{ background-color: #3a9b34; color: #fff; border: 1px solid#3a9b34;}
.lst .rg_sec span{ width: 100%; text-align: center;  display: inline-block; font-size: 12px; color: #a5a5a5;}

.btn.focus, .btn:focus{ box-shadow: none;}
.dish_lsit{ margin-bottom: 30px;}

.restaurant_lst .breadcrumb{ background: none; padding: .05rem 0rem; text-transform: uppercase; font-size: 14px; font-weight: 500; }
.restaurant_lst .breadcrumb li a{color: #7e808c;}
.restaurant_lst .breadcrumb-item + .breadcrumb-item::before {content: "\f105"; font-family: FontAwesome;}
.restaurant_lst .breadcrumb li.breadcrumb-item.active a{color: #282c3f;}
.restaurant_lst .offer-tag2 {background-color: #e43935; border-radius:3px; top: 15px; font-size: 12px; text-transform: uppercase; padding: 3px 7px; left: 15px; font-weight: 500; color:#FFF;}

.accordian_sec .card-header { padding-left: 0px; padding-right: 0px;}
.accordian_sec .card-header .btn { width: 100%; text-align: left; color: #e43935; padding-left: 0px; background: url(../images/select_arrow.png) right 10px center no-repeat; text-decoration: none; white-space: normal;}
.accordian_sec .card-header .btn.collapsed{background: url(../images/arrow_up.png) right 10px center no-repeat;  color: #3d4152;}
.accordian_sec .card-header .btn:hover{ color: #e43935; text-decoration: none; }
.accordian_sec .card-header{ background: none; border: 0px none; padding: .9rem 0rem;}
.accordian_sec .card{ border:0px none; border-bottom: 1px solid rgba(0,0,0,.125); border-radius:0px;}
.accordian_sec .card-body{ font-size: 12px; line-height: 20px; color: #686b78; padding-left: 0px; padding-right: 0px; padding-top: 0px;}

.rd_bt{width: auto; display: inline-block; text-align: center; cursor: pointer; font-size: 14px; font-weight: 600; margin-right: 20px; line-height: 40px; height: 40px; color: #e43935; border: 1px solid #e43935; padding: 0 15px; margin-top: 20px; position: relative; width: auto; margin: 0; }
.rd_bt:hover{ background-color: #e43935; color: #fff; }
.bt_sec{ width: auto; display: inline-block; margin-top: 15px;}
.bt_sec .wt{ width: 100%; text-align: center; margin-top: 5px; font-size: 12px; color: #93959f;}

.con_sec{ width: 100%; display: inline-block; border: 1px solid #d4d5d9; padding: 20px; color: #3d4152; min-height: 172px; margin-bottom: 30px; position: relative;}
.con_sec h4{font-size: 15px; font-weight: 600; color: #282c3f;}
.con_sec .date{font-size: 12px; text-transform: uppercase; color: #7e808c; margin-top: 6px; margin-bottom: 34px; display: inline-block;}
.green_bt { padding: 12px 20px; background: #60b246; color: #fff; font-size: 14px; display: inline-block; bottom: 20px; left: 20px; font-weight: 600; text-align: center; position: absolute; bottom: 18px;}
.green_bt:hover{box-shadow: 0 2px 8px #d4d5d9; color: #fff;}

.resp-tab-content h3.mb-3{ font-size: 24px;}
._3pVR7 {font-size: 13px; color: #7e808c; padding-top: 12px; position: absolute; bottom: 27px; left: 20px;} 

.top_tab{ margin-top: 100px !important; }





